/*Mobile style*/

header{
    background: rgba(0,0,0,0.7);
    border: white solid .2vw;
    position: absolute;
    width: 94%;
    height: 7.1vw;
}

header h1.subtitle{
    color: cadetblue;
    font-family: 'Comfortaa', cursive;
    padding: 0;
    left: 15.6vw;
    font-weight: 200;
    bottom: 1vw;
    font-size: 2vw;
    display: inline;
    letter-spacing: .339em;
    text-size-adjust: auto;
    position: absolute;
}

img.marvelLogo{
    height: 7.1vw;
    position: absolute;
    display: inline-block;
    margin-top:0;
}



.stickyNav{
    text-align:center;
}


#siteLinkBox {
    text-align: right;
    height: 19vw;
    font-size: 2.3vw;
    position: relative;
    top: 2vw;
    padding-top: 10vw;
}

a.siteLink, p.upDateAccount, p.deleteAccount{
    font-family: 'Bungee', cursive;
    padding: 0 .2em;
    font-weight:bold;
    color:gold;
    text-decoration: none;
    text-shadow: .1em -0.13em 2px blue;
    border-radius: 20%;
    font-size: 4em;
    text-align:center;
    text-shadow: 6px 6px red;
}

p.upDateAccount, p.deleteAccount{
    color: black;
    text-shadow: 6px 6px cyan;
    display:inline-block;
    position: relative;
    bottom: 1em;
}



a.main, p.upDateAccount{
    float: left;
}


.updateForm {
    height: 43em;

}

.inputGroup {
/*    border: white solid 3px;
*/    font-family: 'Bungee',sans-serif;
    color: black;
    text-align: left;
/*    float: left;
*/}

.updateForm input {
    float: right;
    font-size: 1.7em;
    right: 10%;
    position: relative;
    bottom: 4.5em;
    width: 40%; 
    height: 3em;
    background: rgba(0,0,0,0.7);
    border-radius: 1em;   
    color: white;
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
}

.updateForm p {
    position: relative;
    text-align: left;
    font-size: 3em;
    line-height: 1em;
}

.updateForm h3 {
    color: white;
    font-family: 'Bungee', sans-serif;
    font-size: 3em;
    text-shadow: red 3px 6px 2px;
}


.updateForm #password {
bottom: 2em;
margin-top: 10px;
}

.updateForm button {
    height: 7em;
    width: 7em;
    border-radius: 100%;
    position: relative;
    bottom: -3em;
    display: block;
    background: black;
    color: white;
    font-size: 1em;
}

.first {
    color: lime;
    text-shadow: red 6px -3px 3px;
}

.last {
    color: white;
    text-shadow: blue 6px -3px 3px;
}

.pw {
    color: darkgoldenrod;
    text-shadow: blue 6px -3px 3px;
    text-decoration: dotted;

}




.userInfo p {
    color: white;
    text-align: left;
    font-family: 'Bungee', cursive;
    font-size: 3em;
    
}



body {
/*    background: url('assets/images/blueDots.jpg');*/
    background: linear-gradient(to left, transparent, red), url('assets/images/blueDots.png');
    height: auto;
}

.userLegend {
    background: rgba(0,0,0,0.6);
    padding-left: 1vw;
    padding-bottom: 2vw;
    border-radius: 2vw;
    min-height: 90vw;
    height: auto;
}



.aboutYou {
    font-family:'Bungee', cursive;
    font-size: 3em;
    color: white;
    text-align: left;
}

.username, .firstName, .lastName {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    padding-left: .3em;
    font-weight: bolder;
    color: limegreen;
    
}

.logOut {
    position: relative;
    height: 4em;
    width: 7em;
    
}
.superDelete{
    text-align: center;
    background: black;
    font-size: 1.5vw;
    padding: 4vw;
    position: absolute;
    width: 89vw;
    top: 28vw;
    height: 87vw;

}

.superDelete p{
    display: inline-block;
    position: relative;
    color: white;
    font-family: 'Bungee', cursive;
/*    font-size: 3em;*/
    text-align: center;
}

.question{
    right: 1.5em;
    font-size: 3em;
        text-shadow: 6px 6px lime;
}

.kill, .reprieve {
    position: relative;
    font-size: 3em;
}

.kill {
    right: 7em;
    text-shadow: 6px 6px red;
}
.reprieve{
    left: 7em;
    text-shadow: 6px 6px cyan;
}

.deleteMessage {
    font-family: 'Bungee', cursive;
    font-size: 4.5em;
    color: white;
    text-shadow: 6px 6px black;
}

p.last{
    margin-top: 3em;
}

div.userInfo {
    font-size: 1.3vw;
}

a.siteLink.logOut, a.logOut{
    cursor: pointer;
}









































/*Larger Screen Styling Rules*/

@media only screen and (min-width: 1000px) {
main {
    width: 50%;
    margin: 0 auto;
}

#registerForm {
    text-align: center;
    margin: 0 3em;
}

section#siteLinkBox {
    position: absolute;
    left: 1vw;
    font-size: .80vw;
    margin-top: 6vw;
}

p.upDateAccount{
    float:left;
    bottom: 16em;
    display: inline-block;
    cursor: pointer;
}

p.deleteAccount {
    bottom: 13.7em;
    margin-left: -3em;
    float: left;
    cursor: pointer;
}

a.siteLink.logOut, a.logOut{
    float:left;
    clear:left;
    left: 0vw;
    color: black;
    cursor: pointer;
    width: auto;
    height: auto;
}

div.userInfo {
    font-size: 0.7em;
}

section.userLegend {
    position: absolute;
    top: 9vw;
    min-height: 31vw;
    clear: left;
    width: 56vw;
    margin-left: 10em;
    background: rgba(0,0,0,0.8);
    font-size: 1.2vw;
}

form.updateForm{
    font-size: .6em;
    margin:0;
    padding:0;
    height: 49.7em;
}
a.main, a.logOut {
    color:black;
    text-shadow: 3px 6px 2px lime;
}

.superDelete {
    position: absolute;
    text-align: center;
    /* bottom: 53em; */
    background: black;
    width: auto;
    min-width: 62vw;    
            /* border: 2em; */
    height: 32.3vw;
    /* min-height: 32em; */
    top: 9vw;
    font-size: 1vw;
}

.deleteMessage {
    font-size: 2.5em;
}

header{
    margin-bottom: 1em;
}

header h1.subtitle {
    color: cadetblue;
    font-family: 'Comfortaa', cursive;
    padding: 0;
    font-weight: 200;
    /* bottom: .3em; */
    font-size: 2vw;
    display: inline;
    letter-spacing: 1vw;
    text-size-adjust: auto;
    position: absolute;
    box-sizing: border-box;
}

img.marvelLogo {
    height: 7.1vw;
    position: absolute;
    display: inline-block;
}


p.upDateAccount, p.deleteAccount {
    color: black;
    text-shadow: 6px 6px cyan;
    display: inline-block;
    position: relative;
    bottom: 1em;
}

p.upDateAccount {
    bottom: -12vw;
}

p.deleteAccount {
    bottom: -19vw;
}

.kill, .reprieve {
    /* position: relative; */
    font-size: 3em;
}

  
}

/*end of larger screen styling*/