/*Mobile style*/

header{
    background: rgba(0,0,0,0.7);
}

header h1.mainPageHeader{
    color: white;
    font-family: 'Comfortaa', cursive;
    padding: 0;
    font-size: 3.5em;
    text-size-adjust: auto;
    text-align: center;
    padding-bottom: .3em;
    position:relative;
}

img.marvelLogo{
    height:2em;
    top:.42em;
    position: relative;
    display: inline-block;
    margin-top:0;
}



.stickyNav{
    text-align:center;
}


#siteLinkBox{
    text-align: right;
}

a.siteLink{
    font-family: 'Bungee', cursive;
    padding: 0 .2em;
    font-weight:bold;
    color:gold;
    text-decoration: none;
    text-shadow: .1em -0.13em 2px blue;
    border-radius: 20%;
    font-size: 4em;
    text-align:center;
    text-shadow: 6px 6px red;
}

a.edit, a.delete{
    color: black;
    text-shadow: 6px 6px cyan;
}



a.main, a.edit{
    float: left;
}

.userInfo p {
    color: white;
    text-align: left;
    font-family: 'Bungee', cursive;
    font-size: 3em;
    
}



body {
/*    background: url('assets/images/blueDots.jpg');*/
    background: linear-gradient(to right, transparent, red), url('assets/images/blueDots.jpg');
}

.userLegend {
    background: rgba(0,0,0,0.6);
    padding-left: 3em;
    padding-bottom: 2em;
    border-radius: 2em;
    
}

.aboutYou {
    font-family:'Bungee', cursive;
    font-size: 3em;
    color: white;
    text-align: left;
}

.username, .firstName, .lastName {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    padding-left: .3em;
    font-weight: bolder;
    color: limegreen;
    
}

.logOut {
    position: relative;
    height: 4em;
    width: 7em;
    
}

