main {
    font-family: 'Comfortaa', cursive; 
    font-size: 5em;
    
}
.marvel{
    color: red;
    float: left;
    margin-right: 0;
    padding: 0;
}
header{
    font-family: 'Comfortaa', cursive; 
    font-size: 2.03em;
    background: black;
    border: white 5px solid;
    box-sizing: border-box;
    height: 100%;
}

h1{
    font-size: 1.1em;
    color: cadetblue;
    box-sizing: border-box;
    line-height: 3.5em;
    padding: 0;
    margin-top: 1em;
    font-weight: lighter;
    margin-bottom: -1em;
}

p{
    margin:0;
    font-size: 2.5vw;
}

span {
    font-size: 15%;
    font-style: italic;
    color: lime;
}

body{
    background: url(assets/images/multiWall.png);
    color: #BFFFF1;
    background-size: cover;
}

main{
    background: rgba(0,0,0,0.6);
    padding-top: .6em;
}

main h3{
    margin: 0;
    padding: .3em;
    word-wrap: normal;
    
}

img{
    height: auto;
    max-height: 3.8em;
    width: 29%;
    bottom: 3em;
    float: left;
}

a {
    display: inline-block;
    clear: left;
    border: solid 2px white;
    margin: 0 1em;
    position: relative;
    background: white;
    text-decoration: none;
}

.textHeaderPart{
    font-size: 1.5em;
    margin: auto;
    display: inline;
    box-sizing: border-box;
}

.frontGroup {
    position: relative;
    padding: 0;
    box-sizing: content-box;

    
}

.frontGroup a {
    border-radius: 1em;
    font-family: 'Bungee', sans-serif;
    display: block;
    text-align: center;
    margin: .11em 0;
    border-style: inset;
    border-collapse: collapse;
    background: rgba(0,0,0,0);
    color: gold;
    text-shadow: -2px 5px 2px red;

}
.frontGroup a:hover{
    background: purple;
    color: white;
}

.frontGroup a:active{
    background: cyan;
    color: crimson;
}



/*FOR LARGER SCREENS*/
@media only screen and (min-width: 1000px) {

span {
    font-size: 1.6vw;
}

h1{
    font-size: .5168em;
    color: cadetblue;
    font-weight: 500;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align:left;
    height: auto;
    margin-top: 0;
    line-height: 3em;
    letter-spacing: .8em;
    background: rgba(0,0,0,0.5);
}

p.textHeaderPart {
    position: relative;
    top: .1em;
}

header img {
    top: 0;
    height: 8.5vw;
    width: auto;
    max-width: 19vw;
    max-height: 8.5vw;
    position: absolute;
}

main img{
    float: left;
    height: 8vw;
    width: 7vw;
}

h3 {
    height: 2em;
    text-align: right;
    font-size: .41em;
}

a.register, a.login{
    width:3em;
}

a.register {
    right: 1em;
}

a.login {
    float:right;
    position: relative;
    bottom: 1.54em;
    left: 3em;
}

a > p{
    font-size: .5em;
    text-align: center;
}

.frontGroup {
    top: 1vw;
    font-size: 4vw;
    width: 18vw;
    margin: auto 33%;
    border: none;
    display: inline-block;
}

header{
    font-family: 'Comfortaa', cursive; 
    height: auto;
    width: 98%;
    max-height: 9vw;
    position: absolute;
    font-size: 6vw;
    background: black;
    border: white solid .2vw;
}
main {
    padding-top: 10vw;
}

}
/*end of larger screen rules*/
