main {
    font-family: 'Comfortaa', cursive; 
    font-size: 5em;
    
}
.marvel{
    color: red;
    float: left;
    margin-right: 0;
    padding: 0;
}
header{
    font-family: 'Comfortaa', cursive; 
    font-size: 2.03em;
    background: black;
    border: white 5px solid;
    box-sizing: border-box;
    height: 100%;
}

h1{
    font-size: 1.1em;
    color: cadetblue;
    box-sizing: border-box;
    line-height: 3.5em;
    padding: 0;
    margin-top: 1em;
    font-weight: lighter;
    margin-bottom: -1em;
}

p{
    margin:0;
    font-size: .4em;
}

span {
    font-size: 15%;
    font-style: italic;
    color: lime;
}

body{
    background: url(assets/images/multiWall.jpg);
    color: #BFFFF1;
    background-size: cover;
}

main{
    background: rgba(0,0,0,0.6);
    padding-top: .6em;
}

main h3{
    margin: 0;
    padding: .3em;
    word-wrap: normal;
    
}

img{
    height: auto;
    max-height: 3.8em;
    width: 29%;
    bottom: 3em;
    float: left;
}

a {
    display: inline-block;
    clear: left;
    border: solid 2px white;
    margin: 0 1em;
    position: relative;
    background: white;
    text-decoration: none;
}

.textHeaderPart{
    font-size: 1.5em;
    margin: auto;
    display: inline;
    box-sizing: border-box;
}

.frontGroup {
    position: relative;
    padding: 0;
    box-sizing: content-box;

    
}

.frontGroup a {
    border-radius: 1em;
    font-family: 'Bungee', sans-serif;
    display: block;
    text-align: center;
    margin: .11em 0;
    border-style: inset;
    border-collapse: collapse;
    background: rgba(0,0,0,0);
    color: gold;
    text-shadow: -2px 5px 2px red;

}
.frontGroup a:hover{
    background: purple;
    color: white;
}

.frontGroup a:active{
    background: cyan;
    color: crimson;
}



/*FOR LARGER SCREENS*/
@media only screen and (min-width: 1000px) {

span {
    font-size: .26em;
}

h1{
    font-size: .5168em;
    color: cadetblue;
    font-weight: 500;
    border: solid 3px white;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align:left;
    height: auto;
    margin-top: 0;
    line-height: 3em;
    letter-spacing: .8em;
    background: rgba(0,0,0,0.5);
}

p.textHeaderPart {
    position: relative;
    top: .1em;
}

header img {
    height: 1.55em;
    width: 4em;
    top:0.05em;
    left:0.05em;
    position: relative;
}

main img{
    float: left;
    height: 3em;
    width: 2.5em;
    bottom: 3em;
}

h3 {
    height: 2em;
    text-align: right;
    font-size: .41em;
}

a.register, a.login{
    width:3em;
}

a.register {
    right: 1em;
}

a.login {
    float:right;
    position: relative;
    bottom: 1.54em;
    left: 3em;
}

a > p{
    font-size: .5em;
    text-align: center;
}

.frontGroup {
    top: 1.6em;
    border: none;
    display: inline-grid;
}

header{
    font-family: 'Comfortaa', cursive; 
    font-size: 4em;
    background: black;
    border: none;
}


}
/*end of larger screen rules*/
