main {
    font-family: 'Comfortaa', cursive; 
    font-size: 5vw;
    
}
.marvel{
    color: red;
    float: left;
    margin-right: 0;
    padding: 0;
}
header{
    font-family: 'Comfortaa', cursive; 
    font-size: 3vw;
    background: black;
    border: white .2vw solid;
    box-sizing: border-box;
    width: auto;
    height: auto;
    max-height:6.5vw;
    min-width: 97%;
    margin: auto 1%;
    position: absolute;
}

h1{
    font-size: 5vw;
    color: cadetblue;
    padding: 0;
    display:inline;
    font-weight: lighter;
    position: relative;
    top: -1vw;
}

img.marvelLogo {
    height: auto;
    max-height: 6vw;
    width: auto;
}

p{
    margin:0;
    font-size: 5vw;
}

span {
    font-size: 3vw;
    font-style: italic;
    color: lime;
}

body{
    background: url(assets/images/multiWall.png);
    color: #BFFFF1;
    background-size: cover;
}

main{
    background: rgba(0,0,0,0.6);
    padding-top: 10vw;
}

main h3{
    margin: 0;
    padding: .3vw;
    word-wrap: normal;
    
}

img#spiderBook{
    height: auto;
    min-height: 30vw;
    max-height: 35vw;
    width: auto;
    float: left;
}

a {
    display: inline-block;
    clear: left;
    border: solid .2vw white;
    margin: 0 1vw;
    position: relative;
    background: white;
    text-decoration: none;
}

.textHeaderPart{
    font-size: 1.5vw;
    margin: auto;
    display: inline;
    box-sizing: border-box;
}

/*.frontGroup {
    position: relative;
    padding: 0;
    box-sizing: content-box;

    
}
*/
.frontGroup a {
    border-radius: 1vw;
    font-family: 'Bungee', sans-serif;
    display: block;
    text-align: center;
    margin: .11vw 0;
    border-style: inset;
    border-collapse: collapse;
    background: rgba(0,0,0,0);
    color: gold;
    text-shadow: .-2vw .5vw .2vw red;

}
.frontGroup a:hover{
    background: purple;
    color: white;
}

.frontGroup a:active{
    background: cyan;
    color: crimson;
}



/*FOR LARGER SCREENS*/
@media only screen and (min-width: 1000px) {

p {
    font-size: 3vw;
}

span {
    font-size: 1.6vw;
}

h1{
    font-size: 3vw;
    color: cadetblue;
    font-weight: 200;
    top: -3vw;
    letter-spacing: 3vw;
    background: rgba(0,0,0,0.5);
}

p.textHeaderPart {
    position: relative;
    top: .1em;
}

header img.marvelLogo {
    top: .1vw;
    height: 8.5vw;
    width: auto;
    max-width: 19vw;
    max-height: 8.5vw;
    position: relative;
}

main img#spiderBook {
    float: left;
    height: auto;
    min-height: 21vw;
    max-height: 22vw;
    width: auto;
}

h3 {
    height: 2em;
    text-align: right;
    font-size: .41em;
}


header{
    font-family: 'Comfortaa', cursive; 
    height: auto;
    width: 98%;
    max-height: 9vw;
    position: absolute;
    font-size: 6vw;
    background: black;
    border: white solid .2vw;
}
main {
    padding-top: 10vw;
}



}
/*end of larger screen rules*/
