/*Mobile style*/

body {
    background: url('assets/images/orangeDots.jpg');
/*    background-size: cover;*/
}

img.characterThumbnail {
	max-height: 20em;
	max-width: 20em;
	border: solid 3px green;
	display: inline;
	float: left;
	clear: left;
}



.xSymbol {
	max-height: 1.3em;
	max-width: 1.3em;
}

.outputbox {
	position: static;
	height: 100%;
}

.characterBox {
	margin: 2em 0;
	height: auto;
    width: auto;
	min-height: 326px;
	border: #379634 2px solid;
    background: rgba(0,0,0,0.5);
}

.eventList {
	border: solid blue 1px;
	clear: left;
/*	height: auto;
*/}

.eventBox {
	overflow: auto;
	height: auto;
    /*unexpected choice for inline, but I like it*/
    display: inline;
}
/*The part for the eventLists*/
ul:only-child {
/*	background: white;*/
	list-style: none;
	clear: left;
    text-decoration: none;
    color: white;
}

li{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 5em;
    margin: 1.7em 0;
}

a:hover{
    color: yellow;
}

a:active{
    color: #5fdd9d;
}

 li a {
    color: #f1fffa;
    text-decoration: none;
}


.deleteChar {
	border-radius: 80%;
	position: absolute;
	left: 10%;
}

span.characterName {
	display: inline-block;
	font-size: 10vw;
    overflow-wrap: break-word;
    font-family: 'Bungee', cursive; 
    line-height: 1.2em;
    word-spacing: 0em;
    text-align: center;
    color: #66D7D1;
    padding: 0;
    clear:right;
}

#searchfield{
    margin-bottom: 20%;
    padding: 0;
}

.biginput{
    border-style: outset;
    border-width: .2em;
    border-radius: .8em;
    width: 90%;
    height: 2em;
    background: black;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    font-size: 400%;
    color: skyblue;
    
}

.autocomplete-suggestions .autocomplete-suggestion {
	color: white;
	background: black;
    font-family: 'Comfortaa', cursive;
    font-size: 400%;
    color: skyblue;

}
.autocomplete-suggestions .autocomplete-suggestion:hover{
    background: #fde74c;
    color: #66d7d1;
}

.autocomplete-suggestions .autocomplete-suggestion:active{
    background: #66d7d1;
    color: red;
}