/*Mobile style*/

body {
    background: url('assets/images/orangeDots.jpg');
/*    background-size: cover;*/
}

img.characterThumbnail {
	max-height: 20em;
	max-width: 20em;
	border: solid 3px green;
	display: inline;
	float: left;
	clear: left;
}



.xSymbol {
	max-height: 1.3em;
	max-width: 1.3em;
}

.outputbox {
	position: static;
	height: 100%;
}

.characterBox {
	margin: 2em 0;
	height: auto;
    width: auto;
	min-height: 326px;
	border: #379634 2px solid;
    background: rgba(0,0,0,0.5);
}

.eventList {
	border: solid blue 1px;
	clear: left;
/*	height: auto;
*/}

.eventBox {
	overflow: auto;
	height: auto;
    /*unexpected choice for inline, but I like it*/
    display: inline;
}
/*The part for the eventLists*/
ul:only-child {
	background: white;
	list-style: none;
	clear: left;

}


.deleteChar {
	border-radius: 80%;
	position: absolute;
	left: 10%;
}

span.characterName {
	display: block;
	font-size: 5vw;
    overflow-wrap:normal;
    font-family: 'Bungee', cursive; 
    line-height: 1.2em;
    text-align: center;
    color: #66D7D1;
}

#autocomplete, .autocomplete-suggestions .autocomplete-suggestion {
	color: white;
	background: black;
	height: auto;
	max-height: 100%;
}