/*Mobile style*/

header{
    background: rgba(0,0,0,0.7);
}

header h1.mainPageHeader{
    color: white;
    font-family: 'Comfortaa', cursive;
    padding: 0;
    font-size: 3.5em;
    text-size-adjust: auto;
    text-align: center;
    padding-bottom: .3em;
    position:relative;
}

img.marvelLogo{
    height:2em;
    top:.42em;
    position: relative;
    display: inline-block;
    margin-top:0;
}

body {
    background:url('assets/images/ironMan.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: black;
    background-position-y: 14em;
    height: 0;
}

main {
    height: 90em;
    position: relative;
    background: rgba(0,0,0,0.4);
}

#loginForm {
    border: 3px silver solid;
    border-radius: 1em;
    border-style: outset;
    border-width: .18em;
    font-family: 'Bungee', sans-serif;
    font-size: 3em;
    color: white;
    text-shadow: 6px 6px 2px blue;
/*    box-sizing: border-box;
*/    background: rgba(0,0,0,0.4);
    padding: 1em 0;
    position: relative;
/*    top: 2em;
*/    height: 70%;
}

#formName{
text-align: center;
color: red;
text-shadow: -3px 6px blue;
}


#loginForm input {
    text-align: center;
    display: inline-block;
    border: 5px yellow solid;
    border-radius: .3em;
    height: 2em;
    width: 62%;
    position: relative;
    margin-left: .2em;
    bottom: .1em;
    left: .2em;
    background: rgba(0,0,0,0.6);
    color: white;
    font-family: "Comfortaa", sans-serif;
    box-sizing: border-box;
    font-size: 1em;
    padding: 0;
/*    margin-bottom: 3em;
*/    

}

#loginForm button{
    height:3em;
    display: block;
    position:relative;
    left: 37%;
    width: 30%;
    background: rgba(0,0,0,0);
    font-family: 'Bungee', sans-serif;
    color: lime;
    text-shadow: purple 6px 6px 2px;
    font-size: 100%;
}



@media only screen and (min-width: 1000px) {

body{
    background-position-y:-10em;
}

main {
    width: 50%;
    margin: 0 auto;
    right: 4.3%;
    position: relative;
    left: 1em;
}

#loginForm{
    bottom: 0;
    margin: 0;
    height:42%;

}

button{
    clear: left;
}

#formName {
    margin: -0.6em auto;
}

h5 {
    margin: 0;
}

#password {
    float: left;
}

#registerForm {
    text-align: center;
    font-size:1.8em;
    background: rgba(0,0,0,0.7);
    width: 116%;
}

#errorFriend {
    margin-bottom: 2em;
    text-align: left;
    display: inline-block;
    position: relative;
    right: 2.5em;
}



}
