/*Mobile style*/
.testerCorner {
    background:white;
    font-family: sans-serif;
    font-size: 3vw;
}

header{
    background: rgba(0,0,0,0.7);
    border: solid .23vw white;
    margin-bottom: 2vw;
    height: auto;
    min-height: 15vw;
    box-sizing: border-box;
}

header h1.mainPageHeader{
    color: cadetblue;
    font-family: 'Comfortaa', serif;
    padding: 0;
    font-size: 4.9vw;
    text-size-adjust: auto;
    padding-bottom: 3vw;
    font-weight: 100;
    top: 1vw;
    position:relative;
    letter-spacing: .1em;
}

img.marvelLogo{
    height: 15vw;
    position: relative;
    display: inline;
    float:left;
} 

body {
    background:url('assets/images/ironMan.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: black;
    background-position-y: 16.5vw;
    height: 0;
}



#loginForm {
    border: 3px silver solid;
    border-radius: 1em;
    border-style: outset;
    border-width: .18em;
    font-family: 'Bungee', sans-serif;
    font-size: 2vw;
    color: white;
    text-shadow: 6px 6px 2px blue;
    background: rgba(0,0,0,0.7);
    position: relative;
    height: auto;
        min-height:auto;
    width: 82vw;
    margin: auto;
    padding-bottom: 8vw
}

h5{
    position: relative;
    left: .3em;
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
}

#formName{
    margin: 0;
    padding: 0;
text-align: center;
color: #CDDC39;
text-shadow: .3vw .3vw blue;
}


#loginForm input {
    text-align: center;
    display: inline-block;
    border: .2vw yellow solid;
    border-radius: 1vw;
    height: auto;
    max-height: 20vw;
    width: auto;
    top: 1vw;
    max-width: 80vw;
    position: relative;
    margin-left: 1vw;
    bottom: 5vw;
    background: rgba(0,0,0,0.6);
    color: white;
    font-family: "Comfortaa", sans-serif;
    box-sizing: border-box;
    font-size: 8vw;
    padding: 0;
}

#loginForm button {
    height: 6vw;
    display: block;
    position: relative;
    left: 25%;
    bottom: -5vw;
    width: auto;
    min-width: 50%;
    background: rgba(0,0,0,0);
    font-family: 'Bungee', sans-serif;
    color: lime;
    text-shadow: purple 6px 6px 2px;
    font-size: 2vw;
}


p.loginFail {
    display: inline;
    text-align: center;
    font-family: 'Bungee',cursive;
    color: black;
    font-size: 1.1em;
    position: fixed;
    left: 15vw;
    top: 50%;
    text-shadow: yellow 5px -1px 4px;
    background:red;
    padding: 1vw;
}














































@media only screen and (min-width: 1000px) {
main{
    height:auto;
}

input#username, input#password{
    height: 1.8em;
    width: 90%;
    display: inline;
    top:-2.7em;
    left: .75em;
    margin: 0 auto;
    font-size: .7em;

}


body{
    background-position-y:-10em;
    height:auto;
}

main {
    width: 50%;
    margin: 0 auto;
    right: 4.3%;
    position: absolute;
    left: 1em;
    border-radius: 2em;
    height:auto;
    max-height: 23em;
}

#loginForm{
    
    margin: 0 21%;
    height: 29vw;
    width: 66%;
    font-size: 3vw;
    top: 6vw;
    min-height:0;
    padding-bottom: 0;
}

button#submitButton{
    left: 1.5vw;
    width: 90%;
    clear: left;
    height: auto;
    top:.1vw;
    font-size: 1.5vw;
    background: rgba(0,0,0,0.6);
}

#formName {
    margin: -2vw auto;
    font-size: 3vw;
    position: relative;
    bottom: 5vw;
}



h5 {
    margin: 0;
    font-size: .5em;
    top: 1.3em;
}

h5.siteName {
    position: relative;
    top: -1.8em;
    left: .5em;
}

h5.pDub {
    position: relative;
    top: -3.3em;
    left: .5em;
}

#password {
    float: left;
}

#registerForm {
    text-align: center;
    font-size:1.8em;
    background: rgba(0,0,0,0.7);
    width: 116%;
}

#errorFriend {
    margin-bottom: 2em;
    text-align: left;
    display: inline-block;
    position: relative;
    right: 2.5em;
}
p.loginFail {
    display: inline;
    text-align: center;
    font-family: 'Bungee',cursive;
    color: black;
    font-size: 1.1em;
    position: fixed;
    top: 50%;
    text-shadow: yellow 5px -1px 4px;
    margin: auto 25%;
}

header h1.mainPageHeader{
    display: inline;
    text-align: left; 
    padding: 0;
    font-size: 3vw;
    bottom: 9px;
/*    height: 2.88em;
*/    box-sizing: border-box;
    font-weight: 100;
}

img.marvelLogo {
    height: -webkit-fill-available;
    max-height: 6vw;
    position: relative;
    display: inline-block;
}

header {
    border: solid 2px white;
    height: 6vw;
    min-height: 0;
}



}
