/*Mobile style*/

/*header{
    background: rgba(0,0,0,0.7);
    display: inline-block;
    width:  100%;
    border: solid 4px white;
    }*/
header{
background: rgba(0,0,0,0.7);
    display: inline-block;
    width: 100%;
    border: solid 4px white;
    height: auto;
    min-height: 4vw;
}

header h1.mainPageHeader{
    color: cadetblue;
    font-family: 'Comfortaa', cursive;
    padding: 0;
    font-size: 6.5vw;
    letter-spacing: .1em;
    text-size-adjust: auto;
    padding-bottom: .3em;
    position:relative;
    display: inline;
    font-weight: 100;
    top:.5vw;
}

img.marvelLogo{
    height: 8vw;
    position: relative;
    display: inline;
    margin:0;
    float: left;
}
  


.stickyNav{
    text-align:center;
}


#siteLinkBox{
    text-align: right;
    font-size: .7em;
}

a.siteLink{
    font-family: 'Bungee', cursive;
    padding: 0 .2em;
    font-weight:bold;
    color:#C9FBFF;
    text-decoration: none;
    text-shadow: .1em -0.13em 2px blue;
    border-radius: 20%;
    font-size: 4em;
    text-align:center;
    text-shadow: 6px 6px blue;
}

a.account{
    float: left;
}

/*
a.logOut{
    
}
*/



body {
    background: url('assets/images/orangeDots.jpg');
    background-size:contain;
}


img.characterThumbnail {
	height: auto;
    width: auto;
    max-height: 44em;
	border: solid 3px green;
	display: inline;
	float: left;
	clear: left;
}





.outputbox {
	position: static;
	height: 100%;
}

#outputcontent{
    color: #C9FBFF;
    font-family: 'Bungee', cursive;
    font-size: 1.7em;
    line-height: .9em;
    background: rgba(0,0,0,0.6);
    padding: .4em;
    margin-top: -2em;
    text-align:center;
    text-shadow: 6px 6px blue;
    
}

.characterBox {
	margin: 2em auto;
    position: relative;
	height: auto;
    font-size: .25em;
    width: 84%;
	min-height: 326px;
	border: #379634 2px solid;
    background: rgba(0,0,0,0.5);
}

.eventList {
	border: solid blue 1px;
	clear: left;
}

.eventBox {
	overflow: auto;
	height: auto;
    display: inline;
}
ul:only-child {
	list-style: none;
	clear: left;
    text-decoration: none;
    color: white;
    padding-top: .3em;
}

li{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 5em;
    margin: 1.7em 0;
}

a:hover{
    color: yellow;
}

a:active{
    color: #5fdd9d;
}

 li a {
    color: #f1fffa;
    text-decoration: none;
}

.deleteChar {
    border-radius: 50%;
    border-style:outset;
    border-width: .52em;
	position: absolute;
    height: auto;
    width: auto;
    right: 0em;
    top: 0;
    float:right;
}

.deleteChar:hover{
    background: yellow;
}

.xSymbol {
    height: auto;
    width:auto;
    max-height: 3.5em;
}

span.characterName {
	display: inline-block;
	font-size: 4.5vw;
    overflow-wrap: break-word;
    font-family: 'Bungee', cursive; 
    line-height: 1.2em;
    word-spacing: 0em;
    text-align: center;
    color: #66D7D1;
    padding: 0;
    clear:left;
    margin: auto;
    float:left;
    width: 100%;
}

#searchfield{
    margin-top:10%;
    margin-bottom: 10%;
    padding: 0;
    text-align: center;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
  font-size:.71em;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
  font-size:.71em;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
  font-size:.71em;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
  font-size:.71em;
}

.biginput{
    text-align:center;
    font-size-adjust: auto;
    border-style: outset;
    border-width: .2em;
    border-radius: .8em;
    width: 90%;
    height: 1.7em;
    position: relative;
    bottom: 1em;
    background: black;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    font-size: 400%;
    color: skyblue;
    position: relative;
/*    bottom: 4em;
*/}

.logOut {
    position: relative;
    height: 4em;
    width: 7em;
    
}

.autocomplete-suggestions .autocomplete-suggestion {
	color: white;
	background: black;
    font-family: 'Comfortaa', cursive;
    font-size: 400%;
    color: skyblue;

}
.autocomplete-suggestions .autocomplete-suggestion:hover{
    background: #fde74c;
    color: #66d7d1;
}

.autocomplete-suggestions .autocomplete-suggestion:active{
    background: #66d7d1;
    color: red;
}



@media only screen and (min-width: 1000px) {

header{
    background: rgba(0,0,0,0.7);
    display: inline-block;
    width:  100%;
    border: solid 4px white;
    height: auto;
    min-height: 4vw;
    }

header h1.mainPageHeader{
    color: cadetblue;
    font-family: 'Comfortaa', cursive;
    padding: 0;
    letter-spacing: .1em;
    text-size-adjust: auto;
    position:relative;
    display: inline;
    font-weight: 100;
    font-size: 5vw;
    left:0vw;
    top: .5vw;
    
}

img.marvelLogo{

    height:6vw;
/*    position: absolute;
*/    display: inline;
    margin:0;
    float: left;
    top: 0;
}
  


.stickyNav{
    text-align:center;
}


#siteLinkBox{
display:inline-block;
}

a.siteLink{
    font-family: 'Bungee', cursive;
    padding: 0 .2em;
    font-weight:bold;
    color:#C9FBFF;
    text-decoration: none;
    text-shadow: .1em -0.13em 2px blue;
    border-radius: 20%;
    font-size: 3vw;
    text-align:center;
    text-shadow: 6px 6px blue;
}

a.account{
    float: left;
}

/*
a.logOut{
    
}
*/



body {
    background: url('assets/images/orangeDots.jpg');
    margin:auto;
    width: 80%;
}

img.characterThumbnail {
   
    border: solid 3px green;
    display: inline;
    float: left;
    clear: left;
    position: absolute;
    max-height: 66%;
}


div#outputbox {
    margin-top: 16%;
top:29%;
        position: absolute;
        width: 80%;
}


.outputbox {
    position: static;
    height: 100%;
}

#outputcontent{
    color: #C9FBFF;
    font-family: 'Bungee', cursive;
    font-size: 1em;
    text-align:center;
    text-shadow: 6px 6px blue;
    position: relative;
    bottom: 13.2em;
    
}

.characterBox {
    margin: 0 16%;
    margin-bottom: 3%;
    position: sticky;
    height: auto;
    width: auto;
    min-height: 60em;
    min-width: 70%;
    border: none;
    background: rgba(0,0,0,0.5);
}

.eventList {
    border: solid blue 1px;
    clear: left;
}

.eventBox {
    overflow: auto;
    height: auto;
    display: inline;
}
ul:only-child {
    list-style: none;
    clear: left;
    text-decoration: none;
    color: white;
    font-size:.25vw;
    padding: 0;
    width: 60%;
    position:absolute;
/*    bottom: 26em;
*/    height: auto;
    max-height: 98%;
    overflow-y: scroll;
    line-height: 0;
    margin: 0 39%;
}

body::-webkit-scrollbar {
    width: 2em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px cyan;
    background: url(assets/images/ggoblin.jpg);
    background-size: contain;
}

body::-webkit-scrollbar-thumb {
  background: url(assets/images/Spider-man-logo.jpg);
  background-size: contain;
  outline: 1px solid blue;
}

/*ul::-webkit-scrollbar {
   width:4em;
}*/

li{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 5em;
    margin: 1.7em 0;
}

a:hover{
    color: yellow;
}

a:active{
    color: #5fdd9d;
}

 li a {
    color: #f1fffa;
    text-decoration: none;
}

.deleteChar {
    border-radius: 50%;
    border-style:outset;
    border-width: .52em;
    position: absolute;
    left: .3em;
    height: auto;
    width: auto;
    min-width: 2.2vw;
    min-height: 2.2vw;
    
}

.deleteChar:hover{
    background: yellow;
}

.xSymbol {
    height: auto;
    max-height: 1.5vw;
    width:auto;
}

span.characterName {
    display: block;
    font-size: 2vw;
    overflow-wrap: break-word;
    font-family: 'Bungee', cursive; 
    line-height: 1.2em;
    word-spacing: 0em;
    width: auto;
    text-align: left;
    color: #66D7D1;
    padding: 0;
    clear:left;
    margin: .5em auto;
    position: absolute;
    bottom: 8%;
}

#searchfield{
    margin-top:10%;
    margin-bottom: 10%;
    padding: 0;
    text-align: center;
}

.biginput{
    border-style: outset;
    border-width: .2em;
    border-radius: .8em;
    width: 90%;
    background: black;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    font-size: 4vw;
    color: skyblue;
    margin-top: -10%; 
        position: sticky;
}

.logOut {
    position: relative;
    height: 4em;
    width: 7em;
    
}



.autocomplete-suggestions .autocomplete-suggestion {
    color: white;
    background: black;
    font-family: 'Comfortaa', cursive;
    font-size: 2.5vw;
    color: skyblue;
    left: 50px;
    width: -webkit-fill-available;
    max-width: 21em;


}
.autocomplete-suggestions .autocomplete-suggestion:hover{
    background: #fde74c;
    color: #66d7d1;
}

.autocomplete-suggestions .autocomplete-suggestion:active{
    background: #66d7d1;
    color: red;
}

}