/*Mobile style*/

header{
    background: rgba(0,0,0,0.7);
}

header h1.mainPageHeader{
    color: white;
    font-family: 'Comfortaa', cursive;
    padding: 0;
    font-size: 3.5em;
    text-size-adjust: auto;
    text-align: center;
    padding-bottom: .3em;
    position:relative;
}

img.marvelLogo{
    height:2em;
    top:.3em;
    position: relative;
    display: inline-block;
    margin:0;
}
  


.stickyNav{
    text-align:center;
}


#siteLinkBox{
    text-align: right;
}

a.siteLink{
    font-family: 'Bungee', cursive;
    padding: 0 .2em;
    font-weight:bold;
    color:#C9FBFF;
    text-decoration: none;
    text-shadow: .1em -0.13em 2px blue;
    border-radius: 20%;
    font-size: 4em;
    text-align:center;
    text-shadow: 6px 6px blue;
}

a.account{
    float: left;
}

/*
a.logOut{
    
}
*/



body {
    background: url('assets/images/orangeDots.jpg');
}

img.characterThumbnail {
	max-height: 20em;
	max-width: 20em;
	border: solid 3px green;
	display: inline;
	float: left;
	clear: left;
}





.outputbox {
	position: static;
	height: 100%;
}

#outputcontent{
    color: #C9FBFF;
    font-family: 'Bungee', cursive;
    font-size: 4em;
    text-align:center;
    text-shadow: 6px 6px blue;
    
}

.characterBox {
	margin: 2em 0;
    position: relative;
	height: auto;
    width: auto;
	min-height: 326px;
	border: #379634 2px solid;
    background: rgba(0,0,0,0.5);
}

.eventList {
	border: solid blue 1px;
	clear: left;
}

.eventBox {
	overflow: auto;
	height: auto;
    display: inline;
}
ul:only-child {
	list-style: none;
	clear: left;
    text-decoration: none;
    color: white;
}

li{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 5em;
    margin: 1.7em 0;
}

a:hover{
    color: yellow;
}

a:active{
    color: #5fdd9d;
}

 li a {
    color: #f1fffa;
    text-decoration: none;
}

.deleteChar {
    border-radius: 50%;
    border-style:outset;
    border-width: .52em;
	position: absolute;
    height: 16em;
    width: 16em;
    right: 0em;
    top: 0;
}

.deleteChar:hover{
    background: yellow;
}

.xSymbol {
    height: 100%;
    width:100%;
}

span.characterName {
	display: inline-block;
	font-size: 10vw;
    overflow-wrap: break-word;
    font-family: 'Bungee', cursive; 
    line-height: 1.2em;
    word-spacing: 0em;
    text-align: center;
    color: #66D7D1;
    padding: 0;
    clear:right;
    margin: .694em;
}

#searchfield{
    margin-top:10%;
    margin-bottom: 10%;
    padding: 0;
    text-align: center;
}

.biginput{
    border-style: outset;
    border-width: .2em;
    border-radius: .8em;
    width: 90%;
    height: 2em;
    background: black;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    font-size: 400%;
    color: skyblue;
    
}

.logOut {
    position: relative;
    height: 4em;
    width: 7em;
    
}

.autocomplete-suggestions .autocomplete-suggestion {
	color: white;
	background: black;
    font-family: 'Comfortaa', cursive;
    font-size: 400%;
    color: skyblue;

}
.autocomplete-suggestions .autocomplete-suggestion:hover{
    background: #fde74c;
    color: #66d7d1;
}

.autocomplete-suggestions .autocomplete-suggestion:active{
    background: #66d7d1;
    color: red;
}


@media only screen and (min-width: 1000px) {

header{
    position:relative;
    bottom: 3em;
}

p#outputcontent{
    font-size: 1.3em;
    position: relative;
    display:inline-block;
    top:-13em;    
}

input#autocomplete.biginput {
    width: 64%;
    position: relative;
    bottom: 3em;
    float:left;
    height: 1em;
    padding:.2em;
}

p#outputcontent{
    position: relative;
    display: inline-table;
    right: -2em;
    top: -7em;
    font-size: 1.6em;
}
div.characterBox{
    width: 100%;
    top: -10em;
    position: relative;
    margin: 0 auto;
    margin-bottom: .5em;
}

#siteLinkBox{
    display: inline-grid;
    float:left;
    position: relative;
    bottom: 8em;
}

body {
    width: auto;
}

a.siteLink {
    font-size: 2em;
}

li a{
    font-size: 0.25em;
}

li {
    text-align:left;
    margin: -0.4em 0;
}

span.characterName {
    font-size: 2.3em;
    position: relative;
}

button.deleteChar {
    width: 5em;
    height: 4.3em;
}



img.characterThumbnail{
    height: 8em;

}

section.stickyNav {
    text-align:left;
    width: auto;
    max-width: 81em;
}

#autocomplete {
    height: 1em;
    top:-2.5em;
    left: 1em;
}

div#outputbox {
    display: inline-block;
    float:left;
    max-width: 1296px;
    height: auto;
    left: 5em;
    position: relative;

}

ul{
    padding-bottom: 1em;
}

}
