/*Mobile style*/

p.accountCreation {
    font-family: 'Bungee',cursive;
    color: white;
    font-size: 2.5em;
    text-align:center;
}

header{
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: auto;
    min-height: 6vw;
    border: solid .1vw white;
    width: 100%;
    top: 1vw;
}

header h1.mainPageHeader{
    color: cadetblue;
    font-family: 'Comfortaa', cursive;
    padding: 0;
    font-size: 4vw;
    text-size-adjust: auto;
    text-align: left;
    padding-bottom: .3em;
    position:relative;
    box-sizing: border-box;
    height:1.48em;
    line-height: 1.7em;
    letter-spacing: .3em;
    font-weight: 100;
}

img.marvelLogo{
    height:11.5vw;
    position: relative;
    float:left;
    display: inline-block;
    margin-top:0;
}

body {
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('assets/images/capAm.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

#registerForm {
    height: auto;
    min-height: 19em;
    width: auto;
    margin: 6em 2%;
    border: 3px silver solid;
    border-radius: 1em;
    border-style: outset;
    border-width: .18em;
    font-family: 'Bungee', sans-serif;
    font-size: 3.5vw;
    color: gold;
    text-shadow: 6px 6px 2px red;
    box-sizing: border-box;
    background: rgba(0,0,0,0.f2);
    padding: 1em;
    line-height: 4em;
}

span {
    color: cyan;
    text-shadow: .6vw .6vw .2vw green;
    font-size: .75em;
}

#registerForm input {
    text-align: center;
    display: inline-block;
    border: .25vw yellow solid;
    border-radius: .3em;
    height: 2em;
    margin-top: 1em;
    width: auto;
    position: absolute;
    left: 40%;
    background: rgba(0,0,0,0.6);
    color: white;
    font-family: "Comfortaa", sans-serif;
    box-sizing: border-box;
    font-size: .7em;
    padding: 0;
    

}

#registerForm button{
    height:3em;
    width: auto;
    display: block;
    position: relative;
    left: 40%;
    top: 5em;
    background: rgba(0,0,0,0.8);
    font-family: 'Bungee', sans-serif;
    color: lime;
    text-shadow: purple 6px 6px 2px;
    font-size: 100%;
}

#errorFriend {
    margin-bottom: 2em;
    text-align: center;
    position: relative;
}

span.regInput {
        position: relative;
        bottom: 1em;
        color: gold;
}


























@media only screen and (min-width: 1000px) {
main {
    width: 50%;
    margin: 0 auto;
    right: 4.3%;
    position: relative;
}

header{
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: auto;
    min-height: 6vw;
    border: solid .1vw white;
    width: 100%;
}

header h1.mainPageHeader {
    color: cadetblue;
    font-family: 'Comfortaa', cursive;
    padding: 0;
    font-size: 2vw;
    /* text-size-adjust: auto; */
    text-align: left;
    /* padding-bottom: .3em; */
    position: absolute;
    /* box-sizing: border-box; */
    /* height: 1.48em; */
    line-height: 3vw;
    letter-spacing: 1vw;
    font-weight: 100;
    left: 13.5vw;
}

form#registerForm {
    position: absolute;
    top: 18vw;
    margin: 0;
    text-align: left;
    font-size:2vw;
    background: rgba(0,0,0,0.7);
    width: 58vw;
    height: auto;
    min-height: 25vw;
    padding: 0;
}

#errorFriend {
    margin-bottom: 2em;
    text-align: left;
    display: inline-block;
    position: relative;
    right: -4em;
    margin:0;
    font-size: 1.2em;
    color: antiquewhite;
    bottom: .4em;
    font-family: 'Bungee',cursive;
    text-shadow: 2px 2px 1px red;
}

button{
    float: left;
    top: 1.3em;
    background: rgba(0,0,0,0.8);


}

p.accountCreation{
    display:inline-block;
    width: auto;
    min-width: 25em;
    font-size: .9em;
    text-align: center;
    background: rgba(0,0,0,0.7);
    margin-left: 29em;
    position: relative;
    bottom: 6.5em;
    right: 10em;
    text-shadow: 2px 2px 1px blue;
}

img.marvelLogo {
    height: 6vw;
    position: absolute;
    float: left;
    display: inline-block;
    margin-top: 0;
    color: red;
}

span.regInput {
        position: relative;
        bottom: 1em;
        color: gold;
        margin-left: 2em;
        font-size: 1.1em;
}

#lastName {
    position: absolute;
    bottom: -.3em;
}

#registerForm input {
        text-align: center;
    display: inline-block;
    border: 2px yellow solid;
    border-radius: .3em;
    height: 2em;
    width: 33vw;
    position: absolute;
    left: 36%;
    background: rgba(0,0,0,0.6);
    color: white;
    font-family: "Comfortaa", sans-serif;
    box-sizing: border-box;
    font-size: .7em;
    padding: 0;
    margin: 0.5em;
    margin-bottom: 2em;
}
span#pwInfo{
    position: relative;
    bottom: 2em;
}

span#pwDetails{
        display: inline;
    position: relative;
    left: 3em;
    bottom: 3em;
}


}
