/*Mobile style*/

p.accountCreation {
    font-family: 'Bungee',cursive;
    color: white;
    font-size: 2.5em;
    text-align:center;


}

header{
    background: rgba(0,0,0,0.7);
}

header h1.mainPageHeader{
    color: cadetblue;
    font-family: 'Comfortaa', cursive;
    padding: 0;
    font-size: 2.5em;
    text-size-adjust: auto;
    text-align: left;
    padding-bottom: .3em;
    position:relative;
    border: white solid 1.5px;
    box-sizing: border-box;
    height:1.48em;
    line-height: 1.7em;
    letter-spacing: .3em;
    font-weight: 100;
}

img.marvelLogo{
    height:3.4em;
    position: relative;
    float:left;
    display: inline-block;
    margin-top:0;
}

body {
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('assets/images/capAm.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

#registerForm {
    height: auto;
    min-height: 22em;
    width: auto;
    margin: 6em 2%;
    border: 3px silver solid;
    border-radius: 1em;
    border-style: outset;
    border-width: .18em;
    font-family: 'Bungee', sans-serif;
    font-size: 2.5em;
    color: gold;
    text-shadow: 6px 6px 2px red;
    box-sizing: border-box;
    background: rgba(0,0,0,0.f2);
    padding: 1em;
}

#registerForm span {
    color: cyan;
    text-shadow: 6px 6px 2px green;
    font-size: .75em;
}

#registerForm input {
    text-align: center;
    display: inline-block;
    border: 2px yellow solid;
    border-radius: .3em;
    height: 2.4em;
    width: auto;
    position: absolute;
    left: 40%;
    background: rgba(0,0,0,0.6);
    color: white;
    font-family: "Comfortaa", sans-serif;
    box-sizing: border-box;
    font-size: 1em;
    padding: 0;
    

}

#registerForm button{
    height:3em;
    width: auto;
    display: block;
    position: relative;
    left: 40%;
    background: rgba(0,0,0,0.8);
    font-family: 'Bungee', sans-serif;
    color: lime;
    text-shadow: purple 6px 6px 2px;
    font-size: 100%;
}

#errorFriend {
    margin-bottom: 2em;
    text-align: center;
    position: relative;
}



@media only screen and (min-width: 1000px) {
main {
    width: 50%;
    margin: 0 auto;
    right: 4.3%;
    position: relative;
}

#registerForm {
    margin: 0;
    text-align: center;
    font-size:1.8em;
    background: rgba(0,0,0,0.7);
    width: 116%;
    padding: 0;
}

#errorFriend {
    margin-bottom: 2em;
    text-align: left;
    display: inline-block;
    position: relative;
    right: -4em;
    margin:0;
    font-size: 1.2em;
    color: antiquewhite;
    bottom: .4em;
    font-family: 'Bungee',cursive;
    text-shadow: 2px 2px 1px red;
}

button{
    float: left;
    top: 1.3em;
    background: rgba(0,0,0,0.8);


}

p.accountCreation{
    display:inline-block;
    width: auto;
    min-width: 25em;
    font-size: .9em;
    text-align: center;
    background: rgba(0,0,0,0.7);
    margin-left: 29em;
    position: relative;
    bottom: 6.5em;
    right: 10em;
    text-shadow: 2px 2px 1px blue;
}

img.marvelLogo {
    height: 3.6em;
    position: relative;
    float: left;
    display: inline-block;
    margin-top: 0;
    color: red;
}




}
